#root {
  width: 100vw;
}

.container {
  height: calc(100vh);
  text-align: center;
  font-size: 1.5em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0.5em 1em;
}

a {
  display: flex;
  color: #213547 !important;
  cursor: pointer;
}

a:hover {
  background-color: yellow;
  font-size: 18;
}
.hidden {
  display: none;
  background-color: "purple";
}

.visible {
  display: flex;
  background-color: "red";
}
